@page
@model Proyecto_bank.Pages.Index1Model
@{
    ViewData["Title"] = "Bank";
}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card mb-3" style="max-width: 550px">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="~/imagen/mnBank.png"
                     class="img-fluid rounded-start"
                     alt="Imagen de la tarjeta" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Bienvenido</h5>

                    <p class="card-text">Mantén tu plata segura con nosotros.</p><br>

                    <!-- Contenedor para centrar el botón -->
                    <div class="d-flex justify-content-center">
                        <a href="/index"
                           class="btn btn-primary">
                            <font style="vertical-align: inherit"><font style="vertical-align: inherit">Vamos.. </font></font>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



