@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}


<div class="card text-center">

    <div class="card-header">
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
                <h1>Bank</h1>
            </font>
        </font>
    </div>
    <div class="card-body">
        <h5 class="card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Usuario</font></font></h5>
        <input type="text" name="usuario" id="usurio">
        <h5 class="card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contraseña</font></font></h5>
        <input type="text" name="contraseña" id="contraseña"> <br>

        <a href="/menu" class="btn btn-primary mt-3">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Log in</font>
            </font>
        </a>
        <a href="/privacy" class="btn btn-primary mt-3">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Registrarse</font>
            </font>
        </a>
    </div>
</div>

</div>
          

